/* footer.component.css */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  footer .material-icons {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 8px;
    color: #555;
  }
  
  footer a {
    text-decoration: none;
    color: inherit;
  }
  
  footer a:hover {
    color: #007bff; /* Change color on hover */
  }
  