<div class="container welcome-container" style="min-height: 100vh;">
  <div class="row align-items-center">
    <div class="col-md-6 pt-5 mt-3 text-center">
      <img src="../../assets/shopping.png" alt="Shopping_Logo" class="img-fluid" height="450px" width="600px">
    </div>
    <div class="col-md-6 text-container mt-2">
      <h2>Welcome to <span class="highlight">Zuri Clothing Online Store</span></h2>
      <div class="text-box mt-4">
        <p>Kindly login or signup to start shopping online!</p>
        <a routerLink="/signup" class="btn btn-primary btn-lg mt-3">Sign Up</a>
        <a routerLink="/login" class="btn btn-secondary btn-lg mt-3">Have an account? Login</a>
      </div>
    </div>
  </div>
</div>
