<div class="container welcome-container" style="min-height: 100vh;">
    <div class="row align-items-center">
      <div class="col-md-6 pt-5 mt-3">
        <img src="../../assets/shopping.png" alt="Shopping_Logo" class="img-fluid" height="450px" width="600px">
      </div>
      <div class="col-md-6 text-container mt-2">
        <!-- <marquee behavior="scroll" direction="center" class="marquee-text"> -->
          <h2>Welcome to 
            Zuri Clothing Online Store</h2>
        <!-- </marquee> -->
        <div style="font-size: large;">
        <p>Kindly login/signup to Shop Online!</p> <br>
        <a routerLink="/signup">Sign Up</a> <br> <br>
        <a routerLink="/login">Have an account? Login</a>
    </div>
      </div>
    </div>
  </div>
  